@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.filters select option {
  background-color: #f8fafc; 
  padding: 10px;
  border: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}